<header>
    <h1>Sistema de Cafetería UNAPEC</h1>
    <nav>
        <ul class="menu-principal">
            <li><a href="/">Inicio</a></li>
            <li class="gestion">
                <a href="#">Gestión</a>
                <ul class="submenu">
                    <li><a href="/campus">Campus</a></li>
                    <li><a href="/cafeterias">Cafeterías</a></li>
                    <li><a href="/tipos-usuarios">Tipos de Usuarios</a></li>
                    <li><a href="/proveedores">Proveedores</a></li>
                    <li><a href="/marcas">Marcas</a></li>
                    <li><a href="/usuarios">Usuarios</a></li>
                    <li><a href="/empleados">Gestión de Empleados</a></li>
                    <li><a href="/articulos">Artículos</a></li>
                </ul>
            </li>
            <li><a href="#">Ventas</a></li>
            <li><a href="#">Consultas</a></li>
            <li><a href="#">Reportes</a></li>
        </ul>
    </nav>
</header>
