<nav>
    <ul class="menu-principal">
        <li><a href="/">Inicio</a></li>
        <li class="gestion">
            <a href="#">Gestión</a>
            <ul class="submenu">
                <li><a href="/campus">Campus</a></li>
                <li><a href="/cafeterias">Cafeterías</a></li>
                <li><a href="/tipos-usuarios">Tipos de Usuarios</a></li>
                <li><a href="/proveedores">Proveedores</a></li>
                <li><a href="/marcas">Marcas</a></li>
                <li><a href="/usuarios">Usuarios</a></li>
                <li><a href="/empleados">Gestión de Empleados</a></li>
                <li><a href="/articulos">Artículos</a></li>
            </ul>
        </li>
        <li><a href="/ventas">Ventas</a></li>
        <li><a href="/consultas">Consultas</a></li>
        <li><a href="/reportes">Reportes</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Registro</a></li>
    </ul>
</nav>

