<!-- views/index.ejs -->
<%- include('layout', { title: 'Inicio', content: 'index' }) %>
<div>
    <h3>Bienvenido al Sistema de Cafetería UNAPEC</h3>
    <p>Este es el sistema de gestión para la cafetería de UNAPEC. Utiliza el menú de navegación para acceder a las diferentes secciones del sistema.</p>
</div>
