/* login.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e4e7e9, #dfe1e4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    padding-bottom: 100px; /* Añadir padding-bottom para el espacio del footer */
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 80px; /* Espacio para el header */
    margin-bottom: 100px; /* Espacio para el footer */
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #555;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container .login-header {
    margin-bottom: 20px;
}

.login-container .login-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login-container .login-header h2 {
    margin: 10px 0 0 0;
    font-size: 24px;
}
